ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a {
    height: 25rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

.content {
    color: white;
    padding: .5rem 1rem;
    position: relative;
    background-color: black;
    height: 100%;
    border-top: 2px solid #e72929;
}
.descripcion {
    min-height: 2rem;
}
.product-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escuderias {
    flex: 9;
}

.escuderias span {
    border-radius: 2rem;
    background-color: whitesmoke;
    color: black;
    font-size: 1rem;
    margin-right: .3rem;
    display: inline-block;
    padding: 0.2rem 0.5rem;
}

.precio {
    color: green;
    margin-top: .2rem;
}